*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    height: 100%;
    background-color: honeydew;
}

.container{
    max-width: 1200px;
    padding: 0 2%;

}

header{
    height: 15vh;
}

footer, .footer-replace{
    height: 10vh;
    width: 100%;
}